@{
    ViewBag.Title = "About";
}
@*<h3>@ViewBag.Message</h3>*@

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blue Lagoone</title>

    <link rel="stylesheet" href="~/fonts/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>



    <main>

        <section class="hero hero-sm" style="background-image: url('../../Images/765715.jpg')">
        </section>

        <section class="section-padding">
            <div class="container">
                <div class="split-section">
                    <div class="split-section__text">
                        <h2>ABOUT</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque doloremque ducimus error excepturi, fugit ipsa iure laudantium magni modi nobis officia placeat possimus quod reprehenderit, similique, sit ullam voluptate voluptates.</p>
                    </div>
                    <div class="split-section__image">
                        <img src="~/Images/Best-Maritim.jpg" alt="#" class="img-shadow img-rounded">
                    </div>
                </div>
            </div>
        </section>




    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-row">
                <ul class="footer-social">
                    <li>
                        <a href="#">
                            <img src="~/Images/icons/facebook.svg" alt="Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Images/icons/instagram.svg" alt="Instagram">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Images/icons/twitter.svg" alt="Youtube">
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </footer>

</body>
</html>